<div class="blog-post">
  <h2 class="blog-post-title">Plants</h2>
  <p class="blog-post-meta">9th August, 2017 by <a href="#">Raghu M.</a></p>
  <p>{{plant.taxonomy|json}}</p>
</div>

<div class="blog-post">
<h2 class="blog-post-title">List institutes working on Farming</h2>
<p class="blog-post-meta">9th August, 2017 by <a href="#">Raghu M.</a></p>
<table class="table table-striped">
  <thead>
    <td><label>id</label></td>
    <td><label>name</label></td>
  </thead>
  <tr *ngFor="let institute of institutes">
    <td>{{institute.id}}</td>
    <td>{{institute.name}}</td>
  </tr>
</table>
</div>
